mainqq-id="xxx"
minorqq-id=""
management-group-id="xxx"
apikey="sk-xxx"
communicate-group=""
auto_sync_communicate_group_id=false
disable_qzone_autologin=false
enable_selenium_autocorrecttag_onstartup=false
use_selenium_to_generate_qzone_cookies=false
use_LLOnebot=false
max_attempts_qzone_autologin=3